@model Subcrib
@{
    ViewData["Title"] = "AddSub";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<form asp-action="Index">
    <div>
        <h1 class="addsub-title">Добавить подписку</h1>
        <form asp-action="Index" class="addsub-form">
            <div class="addsub-form-group">
                <label asp-for="Name" class="addsub-label">Название</label>
                <input asp-for="Name" class="addsub-input" placeholder="Введите название" />
            </div>
            <div class="addsub-form-group">
                <label asp-for="Type" class="addsub-label">Тип</label>
                <input asp-for="Type" class="addsub-input" placeholder="Введите тип" />
            </div>
            <div class="addsub-form-group">
                <label asp-for="Discription" class="addsub-label">Описание</label>
                <input asp-for="Discription" class="addsub-input" placeholder="Введите описание" />
            </div>
            <div class="addsub-form-group">
                <label asp-for="Price" class="addsub-label">Цена</label>
                <input asp-for="Price" class="addsub-input" placeholder="Введите цену" />
            </div>
            <div class="addsub-form-group">
                <label asp-for="Endtime" class="addsub-label">Дата окончания подписки</label>
                <input asp-for="Endtime" id="datepicker" class="addsub-input" placeholder="Выберите дату" />
            </div>
            <div class="addsub-form-group">
                <button type="submit" class="addsub-btn">Добавить подписку</button>
            </div>
        </form>
    </div>
</form>

<script>
    flatpickr("#datepicker", {
        dateFormat: "Y-m-d", 
        minDate: "today", 
    });
</script>