@model User
@{
    ViewData["Title"] = "MainPage";
}

@if (Model == null)
{
    <p>Пользователь не найден.</p>
}
else
{
    <form asp-action="Index">
        <div>
            <h1 class="welcome-text">Добро пожаловать, @Model.Secondname @Model.Firstname!</h1>
            <div class="button-container">
                <a asp-controller="AddSubcribe" asp-action="Index" class="btn btn-primary">Добавить подписку</a>
                <a asp-controller="ListSubs" asp-action="Index" class="btn btn-secondary">Мои подписки</a>
            </div>
            <div class="button-container">
                <a asp-controller="Expenses" asp-action="Index" class="btn btn-secondary">Расходы</a>
            </div>
        </div>
    </form>
}