@model User
@{
    ViewData["Title"] = "ResetPassword";
}

<form asp-action="Index">
    <div class="registration-container">
        <h1 class="registration-title">Введите почту</h1>
        <div class="form-group">
            <label asp-for="Email" class="form-label">Почта</label>
            <input asp-for="Email" class="form-input" placeholder="Введите вашу почту" />
            <span asp-validation-for="Email" class="validation-message"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-reset">Отправить</button>
        </div>
    </div>
</form>