@model User
@{
    ViewData["Title"] = "ResetPassword";
}
<form asp-action="Index">
    <div align="center">
        <h4>Введите почту</h4>
        <label asp-for = "Email"> 
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
        </label>
    </div>
    <div aign="center">
        <input type="submit" value="Отправить" />
    </div>
</form>

