@{
    ViewData["Title"] = "Home Page";
}
<form>
<div class="text-center">
    <div align = "center"></div>
    <p>
        <button asp-controller="Registration" asp-action="Index">Регистарция</button>
        <button asp-controller="Authorization" asp-action="Index">Вход</button>
    </p>
</div>
</form>
