@model User
@{
    ViewData["Title"] = "Authorization";
}
<form asp-action="Index">
    <div align="center">
        <p>Вход</p>
    </div>
    <div align="center">
    <div align="center">
        <h4>Телефон</h4>
        <label asp-for="PhoneNumber">
            <input asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </label>
    </div>
    <div align="center">
        <h4>Пароль</h4>
        <label asp-for="Password">
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </label>
    </div>
    <div aign="center">
        <input type="submit" value="Вход" />
    </div>
    <div align = "right">
        <input asp-action="Reset" type="submit" value = "Забыл пароль"/>
    </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</form>

